---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";

const education = [
  {
    name: "Bacharelado em Ciência da Computação",
    description:
      "Curso de graduação na Universidade Estadual da Paraíba (UEPB)",
    year: "2022 - 2027",
  },
];
---

<section id="education" class="scroll-mt-12">
  <Wrapper variant="base" class="py-8 2xl:py-16 border-t border-b">
    <div class="w-full grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <Text
          tag="h2"
          variant="textMD"
          class="font-medium text-zinc-800 dark:text-zinc-200"
        >
          Educação
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-zinc-500 dark:text-zinc-400"
        >
          Minhas formações
        </Text>
      </div>
      <div class="lg:col-span-2 divide-y gap-4 flex flex-col divide-black/5">
        {
          education.map((talk, index) => (
            <div
              class={`pb-4 group w-full animate-text`}
              data-delay={index * 100}
            >
              <div class="flex items-center justify-between w-full">
                <Text
                  tag="h4"
                  variant="textBase"
                  class="text-zinc-80 group-hover:text-black dark:text-zinc-200 dark:group-hover:text-white duration-300 flex items-center"
                >
                  {talk.name}
                </Text>
              </div>
              <div class="text-zinc-500 text-pretty mt-2 dark:text-zinc-400 ">
                <Text tag="p" variant="textSM">
                  {talk.description}
                </Text>
                <Text tag="p" variant="textSM" class="mt-8">
                  {talk.year}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
<script type="module">
  import { setupTextAnimation } from "../scripts/textReveal.js";
  document.addEventListener("DOMContentLoaded", () => {
    setupTextAnimation();
  });
</script>
