---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";

const skills = [
  {
    category: "Front-end",
    technologies:
      "HTML, CSS, JavaScript, Reactjs, Astro, TailwindCSS, Styled-Components",
  },
  {
    category: "Back-end",
    technologies:
      "Typescript, Express, Fastify, Nestjs, Java, Spring, Python, PostgresSQL, MongoDB",
  },
  {
    category: "Mobile",
    technologies: "React Native",
  },
  {
    category: "Outros",
    technologies: "Git, GitHub, Figma, Scrum",
  },
];
---

<section id="skills" class="scroll-mt-12">
  <Wrapper variant="base" class="py-8 2xl:py-16">
    <div class="w-full grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <Text
          tag="h2"
          variant="textMD"
          class="font-medium text-zinc-800 animate-text dark:text-zinc-200"
        >
          Habilidades
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-zinc-500 animate-text dark:text-zinc-400"
        >
          Minhas habilidades técnicas
        </Text>
      </div>
      <div class="lg:col-span-2 divide-y gap-4 flex flex-col divide-black/5">
        {
          skills.map((skill, index) => (
            <div
              class={`pb-4 group w-full animate-text`}
              data-delay={index * 100}
            >
              <div class="flex items-center justify-between w-full">
                <Text
                  tag="h4"
                  variant="textBase"
                  class="text-zinc-800 group-hover:text-black dark:text-zinc-200 dark:group-hover:text-white duration-300 flex items-center"
                >
                  {skill.category}
                </Text>
              </div>
              <div class="text-zinc-500 text-balance mt-2 dark:text-zinc-400">
                <Text tag="p" variant="textSM">
                  {skill.technologies}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <script type="module">
      import { setupTextAnimation } from "../scripts/textReveal.js";
      document.addEventListener("DOMContentLoaded", () => {
        setupTextAnimation();
      });
    </script>
  </Wrapper>
</section>
