---
interface Props {
  variant?: "base";
  class?: string;
}

const { variant = "base", class: extraClass = "" } = Astro.props;
const variantClasses = {
  base: "mx-auto px-8 max-w-3xl 2xl:max-w-7xl 2xl:px-16  border-zinc-200 dark:border-zinc-700",
};
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
